/*globais*/

* {
  margin: 0;
}

body {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-image {
  margin-right: 8px;
}

.icon-image {
  vertical-align: middle;
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  h4,
  h5,
  h6 {
    font-size: 18px;
    line-height: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4,
  h5,
  h6 {
    font-size: 24px;
    line-height: 28px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

/* secção de navegação */
/* secção de navegação */
.announcement-text {
  background-color: #80f785;
  margin: 0;
}

.navbar {
  background-color: #060d19;
}

.navbar-custom {
  background-color: #060d19;
}

.btn-nav {
  background: linear-gradient(to left, #6c30ff, #a63fb2);
  color: white;
  border: none;
  padding: 10px 45px;
}

.btn-nav:hover {
  background: linear-gradient(to left, #6c30ff, #a63fb2);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("./images/x.png");
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("./images/Nav.png");
}

.text-account span {
  color: #aa5fff;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

/* Responsividade */
@media (max-width: 767px) {
  .navbar-brand img {
    width: 120px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .btn-nav {
    padding: 5px 15px;
    font-size: 14px;
  }

  .navbar-collapse {
    background-color: #060d19;
  }

  .button-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .button-wrapper {
    flex-direction: row;
    justify-content: flex-end;
  }
  .account-icon {
    display: none;
  }

  .text-account span {
    color: white;
  }
  .navbar {
    padding: 5px 40px;
  }
}

@media (max-width: 768px) {
  .btn-nav {
    order: 2;
    align-self: center;
  }

  .text-account {
    order: 1;
  }
}

/* secção de hora e data */

#clock {
  font-family: "Digital Numbers";
  font-size: 32px;
  font-weight: 400;
  line-height: 23.06px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ff6634;
  background-color: #000000;
  padding: 16px 14.57px;
  width: fit-content;
  border: 1px solid #220d39;
  border-radius: 4.86px;
}
#date {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #aa5fff;
  width: fit-content;
  margin: 0 auto;
}

#time {
  font-family: "Roboto";
  font-size: 199px;
  font-weight: 700;
  background: linear-gradient(-10deg, #6c30ff, #8430e2, #ff6634);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media (max-width: 767px) {
  #clock {
    font-size: 20px;
    padding: 10px;
  }

  #date {
    font-size: 18px;
  }

  #time {
    font-size: 80px;
  }

  .clock {
    margin-top: 20px;
  }
}

/* secção de texto e botões download e join*/

.text-lookback {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #b39bec;
}

.text-how {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
}

.btn-hub {
  background: linear-gradient(to left, #6c30ff, #a63fb2);
  color: white;
  border: none;
  padding: 20px 35px;
  border-radius: 9px;
}

.btn-hub:hover {
  opacity: 0.9;
}

.btn-join {
  background: white;
  color: blue;
  border: none;
  padding: 20px 35px;
  border-radius: 9px;
}

.btn-join:hover {
  opacity: 0.9;
}

@media (max-width: 767px) {
  .text-center h1 {
    font-size: 28px;
    line-height: 32px;
    padding: 0 10px;
  }

  .text-lookback {
    font-size: 20px;
    line-height: 24px;
  }

  .text-how {
    font-size: 16px;
    line-height: 20px;
  }

  .btn-hub,
  .btn-join {
    padding: 15px 20px;
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
  }

  section > div.text-center {
    padding: 0 10px;
  }
}

/* card section */
.full-height-card {
  height: 480px;
}

.half-height-card {
  height: 233px;
}

/* Estilos comuns para todos os cards */
.card {
  border-radius: 12px;
  color: white;
  position: relative;
}

.card1 {
  background-color: #000000;
  border-radius: 12px;
  color: white;
  position: relative;
  background-image: url("./images/rodas.png");
  background-size: cover;
  background-position: center;
}

.faster-text-1 {
  font-size: 38px;
  font-weight: 600;
  color: #9370db;
  line-height: 1;
}

.faster-text-2 {
  font-size: 19px;
  font-weight: 500;
  color: #aa5fff;
}

.text-upto {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(180deg, #6c30ff, #aa5fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-72x {
  font-size: 100px;
  font-weight: 600;
  line-height: 156px;
  color: white;
}

.card2 {
  background-color: #170031;
  border-radius: 12px;
  color: white;
  position: relative;
}

.text-card2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.purple-icon img {
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
}

/* Box Branco (segundo card) */
.box-white {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
}

.text-content-card3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
}

.text-content-card3 span {
  color: #6c30ff;
  font-weight: 700;
}

/* Ícone Navegação */
.navigation-icon {
  width: 80px;
  height: 80px;
  bottom: 30px;
  right: 1px;
  transform: rotate(-5deg);
}

/* Último card */
.perspective-box {
  background-color: #9339fb;
  padding: 20px;
}

.firstext-col3,
.secondtext-col3,
.thirdtext-col3 {
  margin: 20px;
}

.firstext-col3 {
  font-size: 18px;
}

.secondtext-col3 {
  font-size: 26px;
  font-weight: 700;
}

.thirdtext-col3 {
  font-size: 16px;
  font-weight: 400;
}

.text-card3-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

.text-card3-2 {
  font-size: 30px;
  font-weight: 00;
  line-height: 30px;
}

.text-card3-3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.text-card3-4 {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.text-based {
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  color: #b39bec;
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
  .full-height-card {
    height: 590px;
  }

  .half-height-card {
    height: 279px;
  }

  .text-72x {
    font-size: 203px;
  }

  .purple-icon img {
    width: 128px;
    height: 128px;
  }

  .navigation-icon {
    width: 105px;
    height: 105px;
  }

  .firstext-col3 {
    font-size: 28px;
  }

  .secondtext-col3 {
    font-size: 46px;
  }

  .thirdtext-col3 {
    font-size: 20px;
  }
  .navigation-icon {
    width: 80px;
    height: 80px;
    bottom: 80px;
    right: 1px;
    transform: rotate(-5deg);
  }
  .text-card3-1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
  }

  .text-card3-2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 46px;
  }

  .text-card3-3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
  }

  .text-card3-4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
  .text-based {
    font-size: 18px;
    font-weight: 400;
    line-height: 46px;
    color: #6c30ff;
  }
}

/* secção de marcas */

.text-trusted {
  font-weight: 400;
  color: #aa5fff;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .brands-section .brand-image {
    width: 60px;
    height: auto;
  }

  .brands-section .col-md-12 {
    flex-wrap: wrap;
  }

  .brands-section .col-md-12 .brand-image {
    margin: 10px;
  }

  .text-trusted {
    font-size: 14px;
  }
}

/* secção world connected */
.world-connected-section {
  padding-top: 200px;
  padding-bottom: 50px;
}

.card-robot {
  background-color: #130b35;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.card-robot img {
  max-width: 100%;
  height: auto;
}

.card-robot .card-body {
  flex: 1;
  padding: 20px;
}

.text-world-connected {
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1%;
}

.text-however {
  color: #7800ff;
}

.btn-light {
  color: #7800ff;
}

.title-robot {
  font-size: 30px;
  font-weight: 500;
  color: #6c30ff;
  line-height: 32px;
  margin: 0 0 20px 0;
}

.text-robot {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.btn-fix {
  width: 177px;
  height: 62.86px;
  border-radius: 9px;
  background: linear-gradient(
    to right,
    #6c30ff 30%,
    #8430e2 100%,
    #ff6634 100%
  );
  color: white;
  border: none;
  padding: 20px 48px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  transition: all 0.3s ease;
}

.btn-fix:hover,
.btn-fix:focus {
  background: linear-gradient(to right, #8430e2, #6c30ff, #ff6634);
}

@media (max-width: 991px) {
  .card-robot {
    flex-direction: column;
    text-align: center;
  }

  .card-robot img {
    margin-bottom: 20px;
  }

  .title-robot {
    font-size: 26px;
  }

  .text-robot {
    font-size: 18px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .card-robot {
    padding: 10px;
  }

  .card-robot img {
    width: 80%;
    margin: 0 auto 20px auto;
  }

  .title-robot {
    font-size: 22px;
  }

  .text-robot {
    font-size: 16px;
  }

  .btn-fix {
    padding: 10px 20px;
    font-size: 14px;
    margin: 20px auto 0 auto;
  }
}

/* secção worker manufacturing */
.worker-manufacturing-section {
  margin: 50px 0;
}

.text-title-worked {
  font-size: 32px;
  font-weight: 600;
  line-height: 34px;
}

/* slider worker */
.worker-slider {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.worker-slider .slide {
  width: 330px;
  height: 372px;
  display: inline-block;
  margin: 0 10px;
}

.worker-slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.text-ourtime {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  padding: 0 250px;
}

.text-ourtime p {
  color: #b39bec;
}

@media (max-width: 767.98px) {
  .text-ourtime {
    font-size: 18px;
    padding: 0 20px;
  }
  .navigation-btns {
    display: none;
  }
}

@media (min-width: 768px) {
  .text-pain-points {
    color: #b39bec;
  }
  .text-ourtime p {
    color: #ffffff;
  }
}

/* secção magic */
.magic-section .container {
  border-radius: 16px;
  background: #040405;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.magic-section h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1%;
  flex: 1 1 100%;
  text-align: left;
}

.magic-section h1 span {
  color: #7800ff;
}

.magic-section img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.magic-section p {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 60px;
  flex: 1 1 100%;
  text-align: left;
}

@media (max-width: 991px) {
  .magic-section .container {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .magic-section h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }

  .magic-section p {
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .magic-section .container {
    padding: 10px;
  }

  .magic-section h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .magic-section img {
    width: 60%;
    margin: 10px auto;
  }

  .magic-section p {
    font-size: 16px;
    line-height: 22px;
    padding: 0 10px;
  }
}

/*secção made it ourselves*/

.made-ourselves-section {
  margin-bottom: 50px;
}

.made-ourselves-section h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1%;
}

.made-ourselves-section h1 span {
  color: #7800ff;
}

.made-ourselves-section p {
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  margin: 35px 0 100px 0;
}

.video-wrapper iframe {
  border-radius: 16px;
  overflow: hidden;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.btn-youtube {
  background-color: white;
  color: #000;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: none;
  min-width: 180px;
  transition: all 0.3s ease;
}

.btn-get-started {
  background-color: #6b46c1;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  min-width: 180px;
  padding: 0 30px;
  border: none;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.btn-youtube:hover,
.btn-get-started:hover {
  opacity: 0.8;
  background-color: #8368c0;
}

.icon-image {
  display: inline-block;
  width: 30px;
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .made-ourselves-section h1 {
    font-size: 32px;
    padding: 0 10px;
  }

  .made-ourselves-section p {
    font-size: 16px;
    padding: 0 10px;
  }

  .video-wrapper iframe {
    width: 100%;
    height: auto;
  }

  .btn-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .btn-wrapper .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
  }

  .btn-wrapper {
    flex-direction: column;
  }

  .icon-image {
    width: 20px;
    height: 20px;
  }
}

/* secção de just what the doctor ordered */
.just-what-we-ordered-section {
  margin: 50px 0 50px 0;
}

.text-doctor {
  color: #7800ff;
}

.title-section-just {
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1%;
}

.text-down-hub {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.text-once {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 767.98px) {
  .custom-fixed-width {
    width: 343px;
    height: 64px;
  }
}

@media (min-width: 768px) {
  .custom-fixed-width {
    width: 280px;
    height: 64px;
  }
}

/*secção de assets*/
.assets-section {
  margin: 50px 0 50px 0;
}

.title-section-assets {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.text-intro-assets {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #b39bec;
}

.assets-slider {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.assets-slider .slide {
  width: 292px;
  height: 488px;
  display: inline-block;
  margin: 0 10px;
}

.assets-slider .slide-content {
  margin: 0 auto;
  text-align: center;
  background-color: #14152b;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
}

.assets-slider .slide-content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.assets-slider .slide-content h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.assets-slider .slide-content p {
  margin: 10px 0;
  font-size: 1em;
}

.assets-slider .btn-slide {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #7800ff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.assets-slider .btn-slide img {
  width: 16px;
  height: 16px;
  margin: auto;
}

.assets-slider h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.assets-slider p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.text-browse {
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
}

@media (max-width: 767.98px) {
  .text-browse {
    width: 343px;
    height: 64px;
  }
}

@media (min-width: 768px) {
  .text-browse {
    width: 280px;
    height: 64px;
  }
}

/* Seção de broker */
.broker-section {
  margin: 50px 0;
}

.title-section-broker {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.text-down-broker {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

.background-broker {
  background-color: #000000;
  border-radius: 12px;
  overflow: hidden;
}

.broker-section img {
  width: 100%;
  height: auto;
  display: block;
}

.broker-image-column {
  display: flex;
}

.broker-image-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-center-broker {
  margin: auto;
}

.btn-know {
  background: linear-gradient(to left, #6c30ff, #8430e2, #ff6634 130%);
  width: 162px;
  height: 52px;
  margin-top: 30px;
  margin-bottom: 20px;
  border: none;
  transition: all 0.3s ease;
}

.btn-know:hover {
  background: linear-gradient(to left, #6c30ff, #8430e2, #ff6634 100%);
}

.try-broker {
  color: #ff6634;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 768px) {
  .title-section-broker {
    font-size: 24px;
    text-align: center;
  }

  .text-down-broker {
    text-align: center;
  }

  .broker-section .col-12.col-md-8 {
    padding: 20px;
  }
}

/* secção de fast */
.fast-section {
  margin: 50px 0;
}

.fast-section h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 127px;
}

.fast-section label {
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
}

.form-check-input {
  width: 24px;
  height: 27px;
  background-color: transparent;
  border: 2px solid #ced4da;
  border-radius: 2px;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  position: relative;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

/* secção de cards */

.cards-section .card {
  border: none;
  border-radius: 12px;
  background-color: #0b1422;
  width: 310px;
  height: 350px;
  flex: none;
}

.cards-section h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6c30ff;
  margin: 18px 12px;
}

.cards-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 29px 12px;
}

.card img {
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 767.98px) {
  .slick-slide {
    margin: 0 10px;
  }

  .slick-list {
    margin: 0;
    overflow: hidden;
  }

  .cards-container {
    display: block;
  }
}

@media (min-width: 768px) {
  .cards-section .card {
    border: none;
    border-radius: 12px;
    width: 351px;
    height: 350px;
  }
}

/*secção no pain */
.nopain-section {
  margin: 50px 0;
}
.nopain-slider {
  margin-top: 20px;
  position: relative;
}

.nopain-slider .slide {
  margin-right: 15px;
}

.slide-content {
  height: 325px;
  overflow: hidden;
}

.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.navigation-btns img {
  cursor: pointer;
}

.text-intro-nopain {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}

.strong-community {
  color: #6901e2;
}

.title-section-nopain {
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}

.slide-content.single-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.slide-content.double-image {
  display: flex;
  flex-direction: column;
}

.double-image .image-wrapper {
  flex: 1;
}

.slide-content.double-image .image-wrapper {
  flex: 1;
  height: calc(50% - 7.5px);
}

.double-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.mt-3 {
  margin-top: 15px;
}

.navigation-btns img {
  cursor: pointer;
}

.special-width {
  width: 460px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .slide-content {
    height: 420px;
  }

  .title-section-nopain {
    font-size: 64px;
    line-height: 68px;
  }

  .text-intro-nopain {
    font-size: 22px;
    line-height: 30px;
  }

  .special-width {
    width: 600px;
  }
}

/*secção join us*/
.join-section {
  margin: 50px 0;
}

.join-title {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  line-height: 46px;
  margin-bottom: 20px;
}

.join-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.join-card {
  border-radius: 12px;
  text-align: center;
  width: 77px;
  height: 73px;
  border: none;
  background-color: #0b1422;
  margin: 0 auto;
}

.join-card img {
  object-fit: cover;
  width: 77px;
  height: 73px;
}

.join-text {
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
  line-height: 1.5;
  font-weight: 400;
  line-height: 24px;
}

.thank-you {
  color: #6c30ff;
  font-weight: bold;
}

/* Ajustes para telas médias e grandes */
@media (min-width: 768px) {
  .join-title {
    font-size: 39px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 100px;
  }

  .join-card {
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 190px;
    border: none;
  }

  .join-card img {
    width: 200px;
    height: 190px;
    border-radius: 12px;
  }

  .join-text {
    font-size: 22px;
    margin-top: 50px;
    font-weight: 400;
    line-height: 30px;
  }
}

/* footer */
.footer-section {
  color: #ffffff;
  margin-top: 50px;
}

.footer-line {
  width: 350px;
  height: 1px;
  background-color: #6c30ff;
  margin-bottom: 20px;
}

.footer-logo {
  width: 145px;
  height: 45px;
}

.footer-subscribe-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
  color: #aa5fff;
}

.footer-subscribe-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
}

.footer-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.footer-input::placeholder {
  color: #ffffff;
  opacity: 0.9;
}

.footer-btn {
  width: 100%;
  max-width: 150px;
  background-color: #733ff7;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.footer-btn:hover {
  background-color: #ad71f3;
}

.footer-privacy-text {
  font-size: 12px;
  margin-top: 10px;
  line-height: 18px;
  font-weight: 400;
}

.footer-links h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-privacy {
  color: #ffffff;
}

.footer-privacy:hover {
  text-decoration: underline;
}

.footer-site-map,
.footer-community {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #aa5fff;
}

.list-unstyled {
  margin-top: 25px;
}

.footer-site-map a,
.footer-community a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.footer-site-map a:hover,
.footer-community a:hover {
  text-decoration: underline;
}

.footer-site-map li,
.footer-community li {
  margin-bottom: 10px;
}

.footer-links ul {
  padding: 0;
  list-style: none;
}

.footer-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-policies a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.footer-policies ul {
  list-style: none;
}

.footer-social-icons a {
  display: inline-block;
  margin-right: 15px;
}

.footer-social-icons img {
  width: 35px;
  height: 35px;
}

.footer-text {
  font-size: 14px;
  margin-top: 20px;
  line-height: 21px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer-line {
    width: 1316px;
  }

  .footer-section {
    padding: 50px 40px;
  }

  .list-unstyled {
    margin-top: 30px;
  }

  .footer-site-map li,
  .footer-community li {
    margin-bottom: 20px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-input {
    margin-right: 10px;
  }

  .footer-btn {
    margin-top: 0;
  }

  .footer-policies ul li {
    margin-right: 20px;
  }

  .footer-social-icons img {
    width: 30px;
    height: 30px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-logo-col {
    order: 1;
  }

  .footer-site-map {
    order: 2;
  }

  .footer-community {
    order: 3;
  }

  .footer-subscribe {
    order: 4;
  }

  /*linha baixo*/

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }

  .footer-bottom .footer-text {
    order: 1;
    text-align: left;
    flex: 1;
  }

  .footer-bottom .footer-policies {
    order: 2;
    flex: 1;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  .footer-bottom .footer-policies ul {
    display: flex;
    gap: 20px;
    padding-left: 0;
    margin: 0;
    list-style: none;
    align-items: center;
  }

  .footer-bottom .footer-policies ul li {
    margin: 0;
  }

  .footer-bottom .footer-social-icons {
    order: 3;
    text-align: right;
    flex: 1;
    justify-content: flex-end;
  }

  .footer-bottom .footer-social-icons a {
    margin-left: 10px;
  }
}
