/*globais*/

* {
  margin: 0;
}

body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.icon-image {
  margin-right: 8px; /* Ajuste o espaçamento entre o ícone e o texto */
}

/* Opcional: Ajustar a posição do ícone verticalmente */
.icon-image {
  vertical-align: middle;
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  h4,
  h5,
  h6 {
    font-size: 18px;
    line-height: 22px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 28px;
    line-height: 32px;
  }

  h4,
  h5,
  h6 {
    font-size: 24px;
    line-height: 28px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

/* secção de navegação */

.announcement-text {
  background-color: #80f785;
  margin: 0;
}

.navbar {
  background-color: #060d19;
}

.navbar-custom {
  background-color: #060d19;
}

.btn-nav {
  background: linear-gradient(to left, #6c30ff, #a63fb2);
  color: white;
  border: none;
  padding: 5px 30px;
}

.btn-nav:hover {
  opacity: 0.9;
}

@media (max-width: 767px) {
  .navbar-brand img {
    width: 120px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .btn-nav {
    padding: 5px 15px;
    font-size: 14px;
  }

  .navbar-collapse {
    background-color: #060d19;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.55%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
}

/* secção de hora e data */

#clock {
  font-family: "Digital Numbers";
  font-size: 32px;
  font-weight: 400;
  line-height: 23.06px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ff6634;
  background-color: #000000;
  padding: 16px 14.57px;
  width: fit-content;
  border: 1px solid #220d39;
  border-radius: 4.86px;
}
#date {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  color: #aa5fff;
  width: fit-content;
  margin: 0 auto;
}

#time {
  font-family: "Roboto";
  font-size: 199px;
  font-weight: 700;
  background: linear-gradient(-10deg, #6c30ff, #8430e2, #ff6634);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media (max-width: 767px) {
  #clock {
    font-size: 20px;
    padding: 10px;
  }

  #date {
    font-size: 18px;
  }

  #time {
    font-size: 80px;
  }

  .clock {
    margin-top: 20px;
  }
}

/* secção de texto e botões download e join*/

.text-lookback {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
  color: #b39bec;
}

.text-how {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
}

.btn-hub {
  background: linear-gradient(to left, #6c30ff, #a63fb2);
  color: white;
  border: none;
  padding: 20px 35px;
  border-radius: 9px;
}

.btn-hub:hover {
  opacity: 0.9;
}

.btn-join {
  background: white;
  color: blue;
  border: none;
  padding: 20px 35px;
  border-radius: 9px;
}

.btn-join:hover {
  opacity: 0.9;
}

@media (max-width: 767px) {
  .text-center h1 {
    font-size: 28px;
    line-height: 32px;
    padding: 0 10px;
  }

  .text-lookback {
    font-size: 20px;
    line-height: 24px;
  }

  .text-how {
    font-size: 16px;
    line-height: 20px;
  }

  .btn-hub,
  .btn-join {
    padding: 15px 20px;
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
  }

  section > div.text-center {
    padding: 0 10px;
  }
}

/* secção de cards */
.container-custom {
  padding: 40px 0;
}

.card-1 {
  background-color: #0c0a0d;
  border-radius: 12px;
  color: white;
  height: 590px;
  position: relative;
  background-image: url("/images/rodas.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.faster-text {
  font-size: 2.5em;
  font-weight: bold;
  color: #9370db;
  line-height: 1;
}

.text-upto {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(180deg, #6c30ff, #aa5fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 150px;
}

.text-72x {
  font-size: 203.92px;
  font-weight: 900;
  line-height: 1;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

.integration-text {
  font-size: 1.2em;
  font-weight: normal;
  color: #9370db;
  display: block;
}

.text .title-large {
  font-size: 4em;
  font-weight: bold;
}

/* segundo card */
.card-2 {
  background: linear-gradient(40deg, #210047, #170031);
  border-radius: 12px;
  color: white;
  height: 293px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-line {
  font-size: 46px;
  font-weight: 700;
}

.purple-icon {
  width: 128.49px;
  height: 127.49px;
}

.purple-icon img {
  transform: rotate(45deg);
}

/* Terceiro card */
.box-white {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 120px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 279px;
}

.text-content-card3 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.navigation-icon {
  width: 105.52px;
  height: 105.52px;
  position: absolute;
  bottom: 55px;
  right: -5px;
  transform: rotate(-5deg);
}

/* ultimo card */

.perspective-box {
  background-color: #9339fb;
  border-radius: 12px;
  padding: 20px;
  color: white;
  text-align: left;
  height: 590px;
}

.firstext-col3 {
  margin: 34px 28px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
}
.secondtext-col3 {
  margin: 34px 28px;
  font-size: 46px;
  font-weight: 700;
  line-height: 46px;
}

.thirdtext-col3 {
  margin: 34px 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.text-based {
  font-size: 18px;
  font-weight: 400;
  color: #6c30ff;
  line-height: 46px;
  letter-spacing: -1%;
}

@media (max-width: 767px) {
  .container-custom .row {
    flex-direction: column;
    align-items: center;
  }

  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
  }
  .card-1 {
    padding: 20px;
    height: auto;
  }

  .card-1,
  .card-2,
  .box-white,
  .perspective-box {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }

  .text-72x {
    font-size: 80px;
  }

  .card-1 .text-light-icon {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-2,
  .box-white,
  .perspective-box {
    align-items: center;
    text-align: center;
  }

  .card-2 .text-content,
  .box-white .text-content-card3,
  .perspective-box .firstext-col3,
  .perspective-box .secondtext-col3,
  .perspective-box .thirdtext-col3 {
    margin: 20px;
  }
}

/* secção de marcas */

.text-trusted {
  font-weight: 400;
  color: #aa5fff;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .brands-section .brand-image {
    width: 60px;
    height: auto;
  }

  .brands-section .col-md-12 {
    flex-wrap: wrap;
  }

  .brands-section .col-md-12 .brand-image {
    margin: 10px;
  }

  .text-trusted {
    font-size: 14px;
  }
}

/* secção world connected */
.world-connected-section {
  padding-top: 200px;
  padding-bottom: 50px;
}

.card-robot {
  background-color: #130b35;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.card-robot img {
  max-width: 100%;
  height: auto;
}

.card-robot .card-body {
  flex: 1;
  padding: 20px;
}

.text-world-connected {
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1%;
}

.text-however {
  color: #7800ff;
}

.btn-light {
  color: #7800ff;
}

.title-robot {
  font-size: 30px;
  font-weight: 500;
  color: #6c30ff;
  line-height: 32px;
  margin: 0 0 20px 0;
}

.text-robot {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.btn-fix {
  width: 177px;
  height: 62.86px;
  border-radius: 9px;
  background: linear-gradient(
    to right,
    #6c30ff 30%,
    #8430e2 100%,
    #ff6634 100%
  );
  color: white;
  border: none;
  padding: 20px 48px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  transition: all 0.3s ease;
}

.btn-fix:hover,
.btn-fix:focus {
  background: linear-gradient(to right, #8430e2, #6c30ff, #ff6634);
}

@media (max-width: 991px) {
  .card-robot {
    flex-direction: column;
    text-align: center;
  }

  .card-robot img {
    margin-bottom: 20px;
  }

  .title-robot {
    font-size: 26px;
  }

  .text-robot {
    font-size: 18px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .card-robot {
    padding: 10px;
  }

  .card-robot img {
    width: 80%;
    margin: 0 auto 20px auto;
  }

  .title-robot {
    font-size: 22px;
  }

  .text-robot {
    font-size: 16px;
  }

  .btn-fix {
    padding: 10px 20px;
    font-size: 14px;
    margin: 20px auto 0 auto;
  }
}

/* secção work slider*/

.title-manu {
  width: 903px;
  height: 59px;
}

.text-title-worked {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.text-pain-points {
  color: #b39bec;
}

/* slider */

.container .section-header {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.container .slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider .slider-item {
  width: 300px;
  max-height: 372.5px;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s cubic-bezier(0.645, 0.045, 0.354, 1);
  overflow: hidden;
}
.slider-item:nth-child(1) {
  left: calc(-300px + -20px);
}
.slider-item:nth-child(2) {
  left: 0;
}
.slider-item:nth-child(3) {
  left: calc(300px + 20px);
}
.slider-item:nth-child(4) {
  left: calc((300px + 20px) * 2);
}
.slider-item:nth-child(5) {
  left: calc((300px + 20px) * 3);
}
.slider-item:nth-child(6) {
  left: calc((300px + 20px) * 4);
}
.slider-item:nth-child(7) {
  left: calc((300px + 20px) * 5);
}
.slider-item:nth-child(8) {
  left: calc((300px + 20px) * 6);
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.text-ourtime {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  padding: 0 250px;
}

@media (max-width: 767px) {
  .title-manu {
    width: 100%;
    font-size: 24px;
    padding: 0 10px;
  }

  .text-title-worked {
    font-size: 24px;
    line-height: 28px;
  }

  .container .slider {
    height: auto;
  }

  .slider .slider-item {
    width: 80%;
    left: 10%;
    position: relative;
    margin-bottom: 20px;
  }

  .slider .slider-item img {
    width: 100%;
    height: auto;
  }

  .navigation-btns {
    display: none;
  }

  .text-ourtime {
    font-size: 18px;
    padding: 0 20px;
  }
}

/* secção magic */
.magic-section .container {
  border-radius: 16px;
  background: #040405;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.magic-section h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1%;
  flex: 1 1 100%;
  text-align: left;
}

.magic-section h1 span {
  color: #7800ff;
}

.magic-section img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.magic-section p {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 60px;
  flex: 1 1 100%;
  text-align: left;
}

@media (max-width: 991px) {
  .magic-section .container {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }

  .magic-section h1 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }

  .magic-section p {
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .magic-section .container {
    padding: 10px;
  }

  .magic-section h1 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .magic-section img {
    width: 60%;
    margin: 10px auto;
  }

  .magic-section p {
    font-size: 16px;
    line-height: 22px;
    padding: 0 10px;
  }
}

/*secção made it ourselves*/

.made-ourselves-section {
  margin-bottom: 50px;
}

.made-ourselves-section h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1%;
}

.made-ourselves-section h1 span {
  color: #7800ff;
}

.made-ourselves-section p {
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  margin: 35px 0 100px 0;
}

.video-wrapper iframe {
  border-radius: 16px;
  overflow: hidden;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.btn-youtube {
  background-color: white;
  color: #000;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border: none;
  min-width: 180px;
  transition: all 0.3s ease;
}

.btn-get-started {
  background-color: #6b46c1;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  min-width: 180px;
  padding: 0 30px;
  border: none;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.btn-youtube:hover,
.btn-get-started:hover {
  opacity: 0.8;
  background-color: #8368c0;
}

.icon-image {
  display: inline-block;
  width: 30px;
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .made-ourselves-section h1 {
    font-size: 32px;
    padding: 0 10px;
  }

  .made-ourselves-section p {
    font-size: 16px;
    padding: 0 10px;
  }

  .video-wrapper iframe {
    width: 100%;
    height: auto;
  }

  .btn-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .btn-wrapper .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    padding: 15px;
    box-sizing: border-box;
  }

  .btn-wrapper {
    flex-direction: column;
  }

  .icon-image {
    width: 20px;
    height: 20px;
  }
}

/* secção de just what the doctor ordered */
.just-what-we-ordered-section {
  margin: 50px 0 50px 0;
}

.text-doctor {
  color: #7800ff;
}

.title-section-just {
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -1%;
}

.text-down-hub {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.text-once {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 767.98px) {
  .custom-fixed-width {
    width: 343px;
    height: 64px;
  }
}

@media (min-width: 768px) {
  .custom-fixed-width {
    width: 280px;
    height: 64px;
  }
}

/*secção de assets*/
.assets-section {
  margin: 50px 0 50px 0;
}

.title-section-assets {
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
}

.text-intro-assets {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #b39bec;
}

.btn-assets {
  margin: 30px 80px 30px 0;
}

.assets-slider {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.assets-slider .slide {
  width: 292px;
  height: 488px;
  display: inline-block;
  margin: 0 10px;
}

.assets-slider .slide-content {
  margin: 0 auto;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  box-sizing: border-box;
}

.assets-slider .slide-content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.assets-slider .slide-content h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.assets-slider .slide-content p {
  margin: 10px 0;
  font-size: 1em;
}

.assets-slider .btn-slide {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #7800ff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
}

.assets-slider .btn-slide img {
  width: 16px;
  height: 16px;
  margin: auto;
}
